<%- include('./partials/head') %>
<%- include('./partials/header') %>

    <div class="container" style="margin-top: 7rem;">
      <h1>About</h1>
      <h3>This project was made using Node, Express, ejs, Bootstrap</h3>
    </div>
<%- include('./partials/footer') %>
  
