<%- include('./partials/head') %>
<%- include('./partials/header') %>
<div class="container mb-5" style="margin-top: 7rem;">
  <div class="card rounded shadow p-5">
    <h1 class="card-title text-center mt-5">Contact</h1>
    <div class="card-body">
      <ul style="list-style: none;">
        <li class="text-center"><a class="nav-link" href="https://github.com/DorianDeptuch"> GitHub <i class="bi bi-github"></i></a></li>
        <li class="text-center"><a class="nav-link" href="https://linkedin.com/in/doriandeptuch">Linkedin <i class="bi bi-linkedin"></i></a></li>
        <li class="text-center"><a class="nav-link" href="mailto:dorian.deptuch@gmail.com">Email Me <i class="bi bi-envelope"></i></a></li>
      </ul>
    </div>
  </div>  
</div>
<%- include('./partials/footer') %>
  
